<!doctype html>
<html>
  <head>
    <title>Genesis Ramirez</title>

    <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}">
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
    {{ 'carousel.css' | asset_url | stylesheet_tag }}

    <script type="text/javascript" src="{{ 'jquery-3.5.1.min.js' | asset_url }}"></script>

    {{ content_for_header }}
  </head>
  <body>
    {% section 'header-welcome-banner' %}
    {% section 'header' %}

    {{ content_for_layout }}

    <script type="text/javascript" src="{{ 'slick.min.js' | asset_url }}"></script>
  </body>
</html>
